html, body {
    background-color: rgb(30, 30, 30);
    color: white;
}

a {
    color: rgb(102, 149, 184);
    text-decoration: none;
}

button, input[type="file"]::-webkit-file-upload-button {
    background-color: #a7a7a7;
    olor: black;
}

*, input[type="file"]::-webkit-file-upload-button {
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
}
